/*
* @Author: 1
* @Date:   2019-06-16 14:36:40
* @Last Modified by:   1
* @Last Modified time: 2019-06-19 17:07:01
*/
*{
	color:blue;
}
.one{
	margin:0 auto;
	width:1200px;
}
.two{
	float:right;
	font-size: 30px;
	font-weight:bolder;
	margin-right:200px;
	line-height: 300px;
}
.three{
	margin:0 auto;
	width:100%;
}
